@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a simple website. Cookies are not enabled, and no personal information is collected.</p>

<p>This website is purely for educational purpose.</p>
